proxy_cache_path  /data/nginx/cache  levels=1:2    keys_zone=STATIC:16m    inactive=24h  max_size=8g;

server {
    server_name txynor.com c.txynor.com;

    charset UTF-8;
    root /var/www/txynor.com;
    location / {
        # Cache
        proxy_buffering        on;
        proxy_cache            STATIC;
        proxy_cache_valid      200  1d;
        proxy_cache_use_stale  error timeout invalid_header updating
                               http_500 http_502 http_503 http_504;

    }
    listen 443 ssl;

    # Certificate stuff here
}

server {
    if ($host = txynor.com) {
        return 301 https://$host$request_uri;
    }

    listen 80 ;
    server_name txynor.com;
}
